ion-item{
  --background: #3880ff;
  --color: #fff;
}

ion-button{
  --background: #062f77;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}